
				<div class="page-header">
					<h1>EventLanguage</h1>
				</div>
			
				<alert level="{{message.level}}" text="{{message.text}}"/>
				<form name="form" data-ng-submit="save(item)" class="form-horizontal">
				
						
					
						
					<div class="control-group" data-ng-class="{error: errors.event}">
						<label class="control-label" for="event">Event</label>
						<div class="controls">
							<input type="text" id="event" name="event" required data-ng-model="item.event">
							<span class="help-inline" data-ng-show="errors.event">{{errors.event}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.language}">
						<label class="control-label" for="language">Language</label>
						<div class="controls">
							<input type="text" id="language" name="language" required data-ng-model="item.language">
							<span class="help-inline" data-ng-show="errors.language">{{errors.language}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.languageName}">
						<label class="control-label" for="languageName">Language Name</label>
						<div class="controls">
							<input type="text" id="languageName" name="languageName" required data-ng-model="item.languageName">
							<span class="help-inline" data-ng-show="errors.languageName">{{errors.languageName}}</span>
						</div>
					</div>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
					</div>
				</form>
