
				<div class="page-header">
					<h1>ResourceOption_i18n</h1>
				</div>
			
				<alert level="{{message.level}}" text="{{message.text}}"/>
				<form name="form" data-ng-submit="save(item)" class="form-horizontal">
				
						
					
						
					<div class="control-group" data-ng-class="{error: errors.i18n}">
						<label class="control-label" for="i18n">I18n</label>
						<div class="controls">
							<input type="text" id="i18n" name="i18n" required data-ng-model="item.i18n">
							<span class="help-inline" data-ng-show="errors.i18n">{{errors.i18n}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.language}">
						<label class="control-label" for="language">Language</label>
						<div class="controls">
							<input type="text" id="language" name="language" required data-ng-model="item.language">
							<span class="help-inline" data-ng-show="errors.language">{{errors.language}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.name}">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input type="text" id="name" name="name" required data-ng-model="item.name">
							<span class="help-inline" data-ng-show="errors.name">{{errors.name}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.resourceOption}">
						<label class="control-label" for="resourceOption">Resource Option</label>
						<div class="controls">
							<input type="text" id="resourceOption" name="resourceOption" required data-ng-model="item.resourceOption">
							<span class="help-inline" data-ng-show="errors.resourceOption">{{errors.resourceOption}}</span>
						</div>
					</div>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
					</div>
				</form>
