
				<div class="page-header">
					<h1>Event</h1>
				</div>
			
				<alert level="{{message.level}}" text="{{message.text}}"/>
				<form name="form" data-ng-submit="save(item)" class="form-horizontal" ng-controller="EventCtrl">
					
					<div class="control-group" data-ng-class="{error: errors.eventLanguage}">
						<label class="control-label" for="eventLanguage">Event Language</label>
						<div class="controls">
							<input type="hidden" id="eventLanguage" name="eventLanguage" required data-ng-model="temp.eventLanguage">
							<span class="help-inline" data-ng-show="errors.eventLanguage">{{errors.eventLanguage}}</span>
							
							<div class="input-prepend input-append">
     							<span class="add-on"><i class="icon-flag"></i></span>
								
								<select id="eventLanguage" name="eventLanguage" data-ng-model="temp.eventLanguage" ng-options="obj.code as obj.displayName for obj in defaults.languages">
        						</select>
							<button  class="btn btn-success" type="button" ng-click="addLanguage(temp.eventLanguage)"><i class="icon-plus icon-white"></i></button>
							</div>
							
						</div>
					</div>
					
					<div data-i18ntabs="i18ntabs" i18n="item.i18n" templateurl="templateUrl">
					 <div ng-include src="templateurl + '/i18nTabs.html'" ></div>
					</div>
					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
					</div>
				</form>
