
<div class="page-header">
	<h1>Edit Event</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<form name="form" data-ng-submit="update(item)" class="form-horizontal">
	<input type="hidden" data-ng-model="item.id">
	<input type="hidden" data-ng-model="item.version">

	<div class="control-group" data-ng-class="{error: errors.eventLanguage}">
		<label class="control-label" for="eventLanguage">Event Language</label>
		<div class="controls">
			<input type="text" id="eventLanguage" name="eventLanguage" required data-ng-model="item.eventLanguage">
			<span class="help-inline" data-ng-show="errors.eventLanguage">{{errors.eventLanguage}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.i18n}">
		<label class="control-label" for="i18n">I18n</label>
		<div class="controls">
			<input type="text" id="i18n" name="i18n" required data-ng-model="item.i18n">
			<span class="help-inline" data-ng-show="errors.i18n">{{errors.i18n}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.meetings}">
		<label class="control-label" for="meetings">Meetings</label>
		<div class="controls">
			<input type="text" id="meetings" name="meetings" required data-ng-model="item.meetings">
			<span class="help-inline" data-ng-show="errors.meetings">{{errors.meetings}}</span>
		</div>
	</div>
	
	<div class="control-group" data-ng-class="{error: errors.participants}">
		<label class="control-label" for="participants">Participants</label>
		<div class="controls">
			<input type="text" id="participants" name="participants" required data-ng-model="item.participants">
			<span class="help-inline" data-ng-show="errors.participants">{{errors.participants}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Update</button>
		<button type="button" class="btn btn-danger" data-ng-click="delete(item)"><i class="icon-trash"></i> Delete</button>
	</div>
</form>
