
<div class="page-header">
	<h1>Event List</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
		<th>Event Titel</th>
		
		<th>subtitle</th>
		
		<th>languages</th>
		
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in list" data-ng-click="show(item)">
        
			<td><ul><li data-ng-repeat="i18n in item.i18n">{{i18n.title}}</li></ul></td>
		
			<td><ul><li data-ng-repeat="i18n in item.i18n">{{i18n.subtitle}}</li></ul></td>
		
			<td><ul><li data-ng-repeat="eventLanguage in item.eventLanguage">{{eventLanguage.languageName}}</li></ul></td>
        </tr>
    </tbody>
</table>
<div class="pagination pagination-centered" data-pagination data-total="total"></div>