<h2>Kontaktdaten Vertretung.</h2>
<p>
Bitte geben Sie die pers&ouml;nlichen Daten Ihrer Vertretung ein.<br/>
Nach Klicken auf die Schaltfl&auml;che &quot;Speichern und Senden&quot; erh&auml;lt Ihre Vertretung in K&uuml;rze eine Einladung mit einem 
pers&ouml;nlichen Zugangscode.
</p>
<p>
Bitte f&uuml;llen Sie allem mit * gekennzeichneten Felder aus.
</p>

				<form name="form" data-ng-submit="createRepresentativ(item, participant)" class="form-horizontal">
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group" data-ng-class="{error: errors.firstname}">
								<label class="control-label" for="firstname">Anrede*</label>
								<div class="controls">
									<select class="input-block-level" type="text" id="salutation" name="salutation" required ng-model="item.salutation" ng-options="salutation.value for salutation in salutations">
		      						</select>
									<span class="help-inline" data-ng-show="errors.salutation">{{errors.salutation}}</span>
								</div>
							</div>
								
							<div class="control-group" data-ng-class="{error: errors.firstname}">
								<label class="control-label" for="firstname">Vorname*</label>
								<div class="controls">
									<input class="input-block-level" type="text" id="firstname" name="firstname" required data-ng-model="item.firstname">
									<span class="help-inline" data-ng-show="errors.firstname">{{errors.firstname}}</span>
								</div>
							</div>
							
								
							
								
							<div class="control-group" data-ng-class="{error: errors.lastname}">
								<label class="control-label" for="lastname">Nachname*</label>
								<div class="controls">
									<input class="input-block-level" type="text" id="lastname" name="lastname" required data-ng-model="item.lastname">
									<span class="help-inline" data-ng-show="errors.lastname">{{errors.lastname}}</span>
								</div>
							</div>
						</div>					
						
						
						<div class="span6">
							<div class="control-group" data-ng-class="{error: errors.email}">
								<label class="control-label" for="email">E-Mail*</label>
								<div class="controls">
									<input class="input-block-level" type="email" id="email" name="email" required data-ng-model="item.email">
									<span class="help-inline" data-ng-show="errors.email">{{errors.email}}</span>
								</div>
							</div>
							
							<div class="control-group" data-ng-class="{error: errors.email}">
								<label class="control-label" for="email">E-Mail best&auml;tigen*</label>
								<div class="controls">
									<input class="input-block-level" type="email" id="email" name="email" required data-ng-model="item.emailrepeat">
									<span class="help-inline" data-ng-show="errors.email">{{errors.emailrepeat}}</span>
								</div>
							</div>
							
							<div class="control-group" data-ng-class="{error: errors.companynr}">
								<label class="control-label" for="companynr">Betriebsnummer*</label>
								<div class="controls">
									<input class="input-block-level" type="text" id="companyadd" name="companyadd" required data-ng-model="item.companynr">
									<span class="help-inline" data-ng-show="errors.companynr">{{errors.companynr}}</span>
								</div>
							</div>
							
							<div class="control-group" data-ng-class="{error: errors.phone}">
								<label class="control-label" for="email()">Telefon*</label>
								<div class="controls">
									<input class="input-block-level" type="text" id="phone" name="phone" required data-ng-model="item.phone">
									<span class="help-inline" data-ng-show="errors.phone">{{errors.phone}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<button type='button' data-ng-click="doTheBack()" class="btn btn-primary"><i class="icon-play flip-horizontal"></i>Zur&uuml;ck</button>
						<button type="submit" class="btn btn-primary pull-right" data-ng-disabled="form.$invalid">Speichern &amp; weiter<i class="icon-play"></i></button>
					</div>
				</form>

