<div class="row">
	<div class="span12">
		<div class="span11">
			<h3>Reisedaten</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<form name="form" data-ng-submit="updateOptions(participant)"
			class="form-horizontal">
			<fieldset>
				<div class="span11">Meine individuelle An- und Abreise erfolgt
					per:</div>
				<div class="row">
					<div class="span11 offset1">
					<div class="control-group" data-ng-class="{error: errors.selectedTravelOption}">
						<span class="help-inline" data-ng-show="errors.selectedTravelOption">{{errors.selectedTravelOption}}</span>
						<div class="row">
							<div class="span3">
									<label class="control-label" for="pkw">{{travelOptions.PKW.name}}</label>
									<div class="controls">
										<input name="UseBools" type="radio"
											data-ng-model="participant.travelOptions.selectedTravelOption"
											data-ng-value="travelOptions.PKW.name"> <span
											class="help-inline" data-ng-show="errors.pkw"
											required="required">{{errors.pkw}}</span>
									</div>
							</div>
							<div class="span3">
									<label class="control-label" for="pkw">{{travelOptions.Bahn.name}}</label>
									<div class="controls">
										<input name="UseBools" type="radio"
											data-ng-model="participant.travelOptions.selectedTravelOption"
											data-ng-value="travelOptions.Bahn.name"> <span
											class="help-inline" data-ng-show="errors.bahn"
											required="required">{{errors.bahn}}</span>
									</div>
							</div>
							<div class="span3">
									<label class="control-label" for="pkw">{{travelOptions.Flugzeug.name}}</label>
									<div class="controls">
										<input name="UseBools" type="radio"
											data-ng-model="participant.travelOptions.selectedTravelOption"
											data-ng-value="travelOptions.Flugzeug.name"> <span
											class="help-inline" data-ng-show="errors.flugzeug"
											required="required">{{errors.flugzeug}}</span>
									</div>
							</div>
							</div>
						</div>
						<div class="row">
							<div class="span7"
								data-ng-show="participant.travelOptions.selectedTravelOption">
								<legend>
									<small>Anreise:</small>
								</legend>
								<div class="control-group"
									data-ng-class="{error: errors.arrivalDate}">
									<label class="control-label" for="arrivalDate"> Datum</label>
									<div class="controls">
										<div id="datetimepicker1" class="input-append date bsdtpicker"
											data-pickdate="true">
											<input data-format="dd.MM.yyyy" type="text" id="arrivalDate"
												name="arrivalDate" data-ng-model="participant.travelOptions.arrivalDate"></input> <span
												class="add-on" data-required> <i
												data-time-icon="icon-time" data-date-icon="icon-calendar">
											</i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.arrivalDate">{{participant.travelOptions.arrivalDate}}</span>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalStation}"
									data-ng-show="participant.travelOptions.selectedTravelOption=='Bahn'">
									<label class="control-label" for="arrivalStation">Bahnhof</label>
									<div class="controls">
										<input type="text" id="arrivalStation" name="arrivalStation"
											data-ng-model="participant.travelOptions.arrivalStation"> <span
											class="help-inline" data-ng-show="errors.arrivalStation">{{errors.arrivalStation}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalAirport}"
									data-ng-show="participant.travelOptions.selectedTravelOption=='Flugzeug'">
									<label class="control-label" for="arrivalAirport">
										Flughafen</label>
									<div class="controls">
										<input type="text" id="arrivalAirport" name="arrivalAirport"
											data-ng-model="participant.travelOptions.arrivalAirport"> <span
											class="help-inline" data-ng-show="errors.arrivalAirport">{{errors.arrivalAirport}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalAirline}"
									data-ng-show="participant.travelOptions.selectedTravelOption=='Flugzeug'">
									<label class="control-label" for="arrivalAirline">Airline</label>
									<div class="controls">
										<input type="text" id="arrivalAirline"
											name="arrivalAirline"
											data-ng-model="participant.travelOptions.arrivalAirline"> <span
											class="help-inline" data-ng-show="errors.arrivalAirline">{{errors.arrivalAirline}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalDate}">
									<label class="control-label" for="arrivalTime">Ankunft</label>
									<div class="controls">
										<div id="timepicker1" class="input-append date"
											data-pickdate="false">
											<input data-format="hh:mm" type="text" id="arrivalTime"
												name="arrivalTime" data-ng-model="participant.travelOptions.arrivalTime"
												data-ng-required></input> <span class="add-on"> <i
												class="icon-time" >
											</i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.arrivalTime">{{participant.travelOptions.arrivalTime}}</span>
								</div>
								<div class="control-group"
									data-ng-show="participant.travelOptions.selectedTravelOption=='PKW'"
									data-ng-class="{error: errors.firstname}">
									<label class="control-label" for="licencePlate">Autokennzeichen*</label>
									<div class="controls">
										<input type="text" id="licencePlate" name="licencePlate"
											data-ng-model="participant.travelOptions.licencePlate"
											data-ng-required="participant.travelOptions.selectedTravelOption=='PKW'">
										<span class="help-inline" data-ng-show="errors.licencePlate">{{errors.licencePlate}}</span>
									</div>
								</div>
								<div
									data-ng-show="participant.travelOptions.selectedTravelOption=='PKW'">
									<p>
										<span class="help-block"> Ein Hotelparkplatz wird
											f&uuml;r Sie reserviert. </span>
									</p>
								</div>
								<legend>
									<small>Abreise:</small>
								</legend>
								<div class="control-group"
									data-ng-class="{error: errors.arrivalDate}">
									<label class="control-label" for="departureDate"> Datum</label>
									<div class="controls">
										<div id="datetimepicker2" class="input-append date bsdtpicker"
											data-pickdate="true" data-language="de-DE">
											<input data-format="dd.MM.yyyy" type="text" id="start"
												name="departureDate"
												data-ng-model="participant.travelOptions.departureDate"></input> <span
												class="add-on"> <i data-time-icon="icon-time"
												data-date-icon="icon-calendar"> </i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.departureDate">{{participant.travelOptions.departureDate}}</span>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.departureStation}"
									data-ng-show="participant.travelOptions.selectedTravelOption=='Bahn'">
									<label class="control-label" for="departureStation">
										Bahnhof</label>
									<div class="controls">
										<input type="text" id="departureStation"
											name="departureStation"
											data-ng-model="participant.travelOptions.departureStation"> <span
											class="help-inline" data-ng-show="errors.station">{{errors.departureStation}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.departureAirport}"
									data-ng-show="participant.travelOptions.selectedTravelOption=='Flugzeug'">
									<label class="control-label" for="departureAirport">
										Flughafen</label>
									<div class="controls">
										<input type="text" id="departureAirport"
											name="departureAirport"
											data-ng-model="participant.travelOptions.departureAirport"> <span
											class="help-inline" data-ng-show="errors.departureAirport">{{errors.departureAirport}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.departureAirline}"
									data-ng-show="participant.travelOptions.selectedTravelOption=='Flugzeug'">
									<label class="control-label" for="departureStation">Airline</label>
									<div class="controls">
										<input type="text" id="departureStation"
											name="departureAirline"
											data-ng-model="participant.travelOptions.departureAirline"> <span
											class="help-inline" data-ng-show="errors.station">{{errors.departureAirline}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-hide="participant.travelOptions.selectedTravelOption=='PKW'"
									data-ng-class="{error: errors.departureTime}">
									<label class="control-label" for="departureTime">
										<span data-ng-show="participant.travelOptions.selectedTravelOption=='Flugzeug'">Abflug</span>
										<span data-ng-show="participant.travelOptions.selectedTravelOption=='Bahn'">Abfahrt</span>
									</label>
									<div class="controls">
										<div id="timepickerDeparture" class="input-append date"
											data-pickdate="false">
											<input data-format="hh:mm" type="text" id="departureTime"
												name="departureTime" data-ng-model="participant.travelOptions.departureTime"></input> 
												<span class="add-on"> <i
												class="icon-time">
											</i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.travelOptions.departureTime">{{participant.travelOptions.departureTime}}</span>
								</div>

								<div
									data-ng-show="participant.travelOptions.selectedTravelOption=='Flugzeug' || participant.travelOptions.selectedTravelOption=='Bahn'">
									<p>Bitte f&uuml;llen Sie die Felder aus, sofern die Inhalte
										bereits bekannt sind.</p>
									<p>Der Anmeldebest&auml;tigung liegt eine
										Anfahrtsbeschreibung (&Ouml;PNV/Taxi) vom Hauptbahnhof Leipzig
										bzw. Flughafen Leipzig/Halle bei.</p>
								</div>
							</div>
							<div class="span4 pull-right">
								<h3>Kontakt</h3>
								<p>F&uuml;r Fragen zur Veranstaltung steht Ihnen das
									Goodyear Organisation-Team gerne zur Verf&uuml;gung:</p>
								<p>
									E-Mail: <a href="mailto:support@goodyear-at-porsche.de">support@goodyear-at-porsche.de</a><br> Telefon: +49.8031.9010.860
								</p>
								<p>Bitte kontaktieren Sie nicht direkt das Hotel.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="span11">Spezielle Anforderungen</div>
				<div class="row">
					<div class="span7 offset1">
						<div class="control-group"
							data-ng-class="{error: errors.vegatarian}">
							<label class="control-label" for="vegatarian">Vegetarier*</label>
							<div class="controls">
								<select id="vegatarian" name="vegatarian"
									required="required" data-ng-model="participant.otherOptions.vegatarian"
									data-ng-options="vegetarien.value as vegetarien.value for vegetarien in vegetarienOptions">
								</select> <span class="help-inline" data-ng-show="errors.vegatarian">{{errors.vegatarian}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.vegan}">
							<label class="control-label" for="vegan">Veganer*</label>
							<div class="controls">
								<select id="vegan" name="vegan" required="required"
									data-ng-model="participant.otherOptions.vegan"
									data-ng-options="vegan.value as vegan.text for vegan in veganOptions">
								</select> <span class="help-inline" data-ng-show="errors.vegan">{{errors.vegan}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.allergy}">
							<label class="control-label" for="vegetarien">Allergien</label>
							<div class="controls">
								<input type="text" id="allergy" name="allergy"
									data-ng-model="participant.otherOptions.allergy"> <span
									class="help-inline" data-ng-show="errors.otherOptions.allergy">{{errors.otherOptions.allergy}}</span>
							</div>
						</div>

						<div class="control-group" data-ng-class="{error: errors.wishes}">
							<label class="control-label" for="wishes">Sonderw&uuml;nsche</label>
							<div class="controls">
								<input type="text" id="wishes" name="wishes"
									data-ng-model="participant.otherOptions.wishes"> <span
									class="help-inline" data-ng-show="errors.otherOptions.wishes">{{errors.otherOptions.wishes}}</span>
							</div>
						</div>
						<div>
							<p>
								<span class="helper-text">Bitte beachten Sie, dass
									Sonderw&uuml;nsche nicht garantiert werden k&ouml;nnen. </span>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12">
					<div class="span11">
						<div class="form-actions">
							<a href="#personelData" class="btn btn-primary">Zur&uuml;ck</a>
							<button type="submit" class="btn btn-primary">Weiter</button>
						</div>
					</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>