		<div class="grey-body">
		<form name="form" data-ng-submit="updateParticipant(participant)" class="form-horizontal">
			<fieldset>
				<div class="control-group" data-ng-class="{error: errors.aufbauherstellermanagement}">
					<label class="control-label" for="title">Aufbauherstellermanagement</label>
					<div class="controls">
						<input type="checkbox" id="aufbauherstellermanagement" name="aufbauherstellermanagement" data-ng-model="participant.marketplaceOptions.aufbauherstellermanagement">
						<span class="help-inline" data-ng-show="errors.aufbauherstellermanagement">{{errors.aufbauherstellermanagement}}</span>
					</div>
				</div>
		
				<div class="control-group" data-ng-class="{error: errors.spezialfahrzeuge}">
					<label class="control-label" for="title">Business Unit Spezialfahrzeuge</label>
					<div class="controls">
						<input type="checkbox" id="spezialfahrzeuge" name="spezialfahrzeuge" data-ng-model="participant.marketplaceOptions.spezialfahrzeuge">
						<span class="help-inline" data-ng-show="errors.spezialfahrzeuge">{{errors.spezialfahrzeuge}}</span>
					</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.careport}">
					<label class="control-label" for="title">Care Port</label>
					<div class="controls">
						<input type="checkbox" id="careport" name="careport" data-ng-model="participant.marketplaceOptions.careport">
						<span class="help-inline" data-ng-show="errors.careport">{{errors.careport}}</span>
					</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.classicparts}">
						<label class="control-label" for="title">Classic Parts</label>
						<div class="controls">
							<input type="checkbox" id="classicparts" name="classicparts" data-ng-model="participant.marketplaceOptions.classicparts">
							<span class="help-inline" data-ng-show="errors.classicparts">{{errors.classicparts}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.euromobil}">
						<label class="control-label" for="title">Euromobil</label>
						<div class="controls">
							<input type="checkbox" id="euromobil" name="euromobil" data-ng-model="participant.marketplaceOptions.euromobil">
							<span class="help-inline" data-ng-show="errors.euromobil">{{errors.euromobil}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.feldbeobachtung}">
						<label class="control-label" for="title">Feldbeobachtung</label>
						<div class="controls">
							<input type="checkbox" id="feldbeobachtung" name="feldbeobachtung" data-ng-model="participant.marketplaceOptions.feldbeobachtung">
							<span class="help-inline" data-ng-show="errors.feldbeobachtung">{{errors.feldbeobachtung}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.gewahrleistung}">
						<label class="control-label" for="title">Gew&auml;hrleistung</label>
						<div class="controls">
							<input type="checkbox" id="gewahrleistung" name="gewahrleistung" data-ng-model="participant.marketplaceOptions.gewahrleistung">
							<span class="help-inline" data-ng-show="errors.gewahrleistung">{{errors.gewahrleistung}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.grosskundenbetreuung}">
						<label class="control-label" for="title">grosskundenbetreuung</label>
						<div class="controls">
							<input type="checkbox" id="grosskundenbetreuung" name="grosskundenbetreuung" data-ng-model="participant.marketplaceOptions.grosskundenbetreuung">
							<span class="help-inline" data-ng-show="errors.grosskundenbetreuung">{{errors.grosskundenbetreuung}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.heritage}">
						<label class="control-label" for="title">heritage</label>
						<div class="controls">
							<input type="checkbox" id="heritage" name="heritage" data-ng-model="participant.marketplaceOptions.heritage">
							<span class="help-inline" data-ng-show="errors.heritage">{{errors.heritage}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.ihvpost}">
						<label class="control-label" for="title">ihvpost</label>
						<div class="controls">
							<input type="checkbox" id="ihvpost" name="ihvpost" data-ng-model="participant.marketplaceOptions.ihvpost">
							<span class="help-inline" data-ng-show="errors.ihvpost">{{errors.ihvpost}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.unfallverhutung}">
						<label class="control-label" for="title">unfallverhutung</label>
						<div class="controls">
							<input type="checkbox" id="unfallverhutung" name="unfallverhutung" data-ng-model="participant.marketplaceOptions.unfallverhutung">
							<span class="help-inline" data-ng-show="errors.unfallverhutung">{{errors.unfallverhutung}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.inspektion}">
						<label class="control-label" for="title">inspektion</label>
						<div class="controls">
							<input type="checkbox" id="inspektion" name="inspektion" data-ng-model="participant.marketplaceOptions.inspektion">
							<span class="help-inline" data-ng-show="errors.inspektion">{{errors.inspektion}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.kbaservice}">
						<label class="control-label" for="title">kbaservice</label>
						<div class="controls">
							<input type="checkbox" id="kbaservice" name="kbaservice" data-ng-model="participant.marketplaceOptions.kbaservice">
							<span class="help-inline" data-ng-show="errors.kbaservice">{{errors.kbaservice}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.marktchancen}">
						<label class="control-label" for="title">marktchancen</label>
						<div class="controls">
							<input type="checkbox" id="marktchancen" name="marktchancen" data-ng-model="participant.marketplaceOptions.marktchancen">
							<span class="help-inline" data-ng-show="errors.marktchancen">{{errors.marktchancen}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.orginalteile}">
						<label class="control-label" for="title">orginalteile</label>
						<div class="controls">
							<input type="checkbox" id="orginalteile" name="orginalteile" data-ng-model="participant.marketplaceOptions.orginalteile">
							<span class="help-inline" data-ng-show="errors.orginalteile">{{errors.orginalteile}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.serviceapp}">
						<label class="control-label" for="title">serviceapp</label>
						<div class="controls">
							<input type="checkbox" id="serviceapp" name="serviceapp" data-ng-model="participant.marketplaceOptions.serviceapp">
							<span class="help-inline" data-ng-show="errors.serviceapp">{{errors.serviceapp}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.planungimah}">
						<label class="control-label" for="title">planungimah</label>
						<div class="controls">
							<input type="checkbox" id="planungimah" name="planungimah" data-ng-model="participant.marketplaceOptions.planungimah">
							<span class="help-inline" data-ng-show="errors.planungimah">{{errors.planungimah}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.produktbetreuung}">
						<label class="control-label" for="title">produktbetreuung</label>
						<div class="controls">
							<input type="checkbox" id="produktbetreuung" name="produktbetreuung" data-ng-model="participant.marketplaceOptions.produktbetreuung">
							<span class="help-inline" data-ng-show="errors.produktbetreuung">{{errors.produktbetreuung}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.servicemarketing}">
						<label class="control-label" for="title">servicemarketing</label>
						<div class="controls">
							<input type="checkbox" id="servicemarketing" name="servicemarketing" data-ng-model="participant.marketplaceOptions.servicemarketing">
							<span class="help-inline" data-ng-show="errors.servicemarketing">{{errors.servicemarketing}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.servicequality}">
						<label class="control-label" for="title">servicequality</label>
						<div class="controls">
							<input type="checkbox" id="servicequality" name="servicequality" data-ng-model="participant.marketplaceOptions.servicequality">
							<span class="help-inline" data-ng-show="errors.servicequality">{{errors.servicequality}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.servicestandard}">
						<label class="control-label" for="title">servicestandard</label>
						<div class="controls">
							<input type="checkbox" id="servicestandard" name="servicestandard" data-ng-model="participant.marketplaceOptions.servicestandard">
							<span class="help-inline" data-ng-show="errors.servicestandard">{{errors.servicestandard}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.skpcommerce}">
						<label class="control-label" for="title">skpcommerce</label>
						<div class="controls">
							<input type="checkbox" id="skpcommerce" name="skpcommerce" data-ng-model="participant.marketplaceOptions.skpcommerce">
							<span class="help-inline" data-ng-show="errors.skpcommerce">{{errors.skpcommerce}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.taxi}">
						<label class="control-label" for="title">taxi</label>
						<div class="controls">
							<input type="checkbox" id="taxi" name="taxi" data-ng-model="participant.marketplaceOptions.taxi">
							<span class="help-inline" data-ng-show="errors.taxi">{{errors.taxi}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.leasing}">
						<label class="control-label" for="title">leasing</label>
						<div class="controls">
							<input type="checkbox" id="leasing" name="leasing" data-ng-model="participant.marketplaceOptions.leasing">
							<span class="help-inline" data-ng-show="errors.leasing">{{errors.leasing}}</span>
						</div>
				</div>
				
				<div class="control-group" data-ng-class="{error: errors.merchandising}">
						<label class="control-label" for="title">merchandising</label>
						<div class="controls">
							<input type="checkbox" id="merchandising" name="merchandising" data-ng-model="participant.marketplaceOptions.merchandising">
							<span class="help-inline" data-ng-show="errors.merchandising">{{errors.merchandising}}</span>
						</div>
				</div>
			</fieldset>
        
        

        <div class="form-actions">
						<button type="submit" class="btn btn-primary">Weiter</button>
		</div>

        </form>
		</div>