<div class="row">
	<div class="span12">
		<div class="span11">
			<h3>Reisedaten</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<form name="form" data-ng-submit="updateOptions(travelDetail)"
			class="form-horizontal">
			<fieldset>
				<div class="span11">Meine individuelle An- und Abreise erfolgt
					per:</div>
				<div class="row">
					<div class="span11 offset1">
						<div class="row">
							<div class="span3">
								<div class="control-group" data-ng-class="{error: errors.pkw}">
									<label class="control-label" for="pkw">{{travelOptions.PKW.name}}</label>
									<div class="controls">
										<input name="UseBools" type="radio"
											data-ng-model="travelDetail.selectedTravelOption"
											data-ng-value="travelOptions.PKW"> <span
											class="help-inline" data-ng-show="errors.pkw">{{errors.pkw}}</span>
									</div>
								</div>
							</div>
							<div class="span3">
								<div class="control-group" data-ng-class="{error: errors.pkw}">
									<label class="control-label" for="pkw">{{travelOptions.Bahn.name}}</label>
									<div class="controls">
										<input name="UseBools" type="radio"
											data-ng-model="travelDetail.selectedTravelOption"
											data-ng-value="travelOptions.Bahn"> <span
											class="help-inline" data-ng-show="errors.pkw">{{errors.pkw}}</span>
									</div>
								</div>
							</div>
							<div class="span3">
								<div class="control-group" data-ng-class="{error: errors.pkw}">
									<label class="control-label" for="pkw">{{travelOptions.Flugzeug.name}}</label>
									<div class="controls">
										<input name="UseBools" type="radio"
											data-ng-model="travelDetail.selectedTravelOption"
											data-ng-value="travelOptions.Flugzeug"> <span
											class="help-inline" data-ng-show="errors.pkw">{{errors.pkw}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span7"
								data-ng-show="travelDetail.selectedTravelOption">
								<legend>
									<small>Anreise:</small>
								</legend>
								<div class="control-group"
									data-ng-hide="travelDetail.selectedTravelOption.name=='PKW'"
									data-ng-class="{error: errors.arrivalDate}">
									<label class="control-label" for="arrivalDate"> Datum</label>
									<div class="controls">
										<div id="datetimepicker1" class="input-append date bsdtpicker"
											data-pickdate="true">
											<input data-format="dd.MM.yyyy" type="text" id="arrivalDate"
												name="arrivalDate" data-ng-model="travelDetail.arrivalDate"></input> <span
												class="add-on" data-required> <i
												data-time-icon="icon-time" data-date-icon="icon-calendar">
											</i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.arrivalDate">{{travelDetail.arrivalDate}}</span>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalStation}"
									data-ng-show="travelDetail.selectedTravelOption.name=='Bahn'">
									<label class="control-label" for="arrivalStation">Bahnhof</label>
									<div class="controls">
										<input type="text" id="licenceplate" name="arrivalStation"
											data-ng-model="travelDetail.arrivalStation"> <span
											class="help-inline" data-ng-show="errors.arrivalStation">{{errors.arrivalStation}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalAirport}"
									data-ng-show="travelDetail.selectedTravelOption.name=='Flugzeug'">
									<label class="control-label" for="arrivalAirport">
										Flughafen</label>
									<div class="controls">
										<input type="text" id="arrivalAirport" name="arrivalAirport"
											data-ng-model="travelDetail.arrivalAirport"> <span
											class="help-inline" data-ng-show="errors.arrivalAirport">{{errors.arrivalAirport}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalAirline}"
									data-ng-show="travelDetail.selectedTravelOption.name=='Flugzeug'">
									<label class="control-label" for="arrivalAirline">Airline</label>
									<div class="controls">
										<input type="text" id="arrivalAirline"
											name="arrivalAirline"
											data-ng-model="travelDetail.arrivalAirline"> <span
											class="help-inline" data-ng-show="errors.arrivalAirline">{{errors.arrivalAirline}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.arrivalDate}">
									<label class="control-label" for="arrivalTime">Ankunft</label>
									<div class="controls">
										<div id="timepicker1" class="input-append date bsdtpicker"
											data-pickdate="false">
											<input data-format="hh:mm" type="text" id="arrivalTime"
												name="arrivalTime" data-ng-model="travelDetail.arrivalTime"
												data-ng-required></input> <span class="add-on"> <i
												data-time-icon="icon-time" data-date-icon="icon-calendar">
											</i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.arrivalTime">{{travelDetail.arrivalTime}}</span>
								</div>
								<div class="control-group"
									data-ng-show="travelDetail.selectedTravelOption.name=='PKW'"
									data-ng-class="{error: errors.firstname}">
									<label class="control-label" for="licenceplate">Autokennzeichen*</label>
									<div class="controls">
										<input type="text" id="licenceplate" name="licenceplate"
											data-ng-model="travelDetail.licenceplate"
											data-ng-required="travelDetail.selectedTravelOption.name=='PKW'">
										<span class="help-inline" data-ng-show="errors.licenceplate">{{errors.licenceplate}}</span>
									</div>
								</div>
								<div
									data-ng-show="travelDetail.selectedTravelOption.name=='PKW'">
									<p>
										<span class="help-block"> Ein Hotelparkplatz wird
											f&uuml;r Sie reserviert. </span>
									</p>
								</div>
								<legend ng-hide="travelDetail.selectedTravelOption.name=='PKW'">
									<small>Abreise:</small>
								</legend>
								<div class="control-group"
									data-ng-hide="travelDetail.selectedTravelOption.name=='PKW'"
									data-ng-class="{error: errors.arrivalDate}">
									<label class="control-label" for="dapartureDate"> Datum</label>
									<div class="controls">
										<div id="datetimepicker2" class="input-append date bsdtpicker"
											data-pickdate="true" data-language="de-DE">
											<input data-format="dd.MM.yyyy" type="text" id="start"
												name="dapartureDate"
												data-ng-model="travelDetail.dapartureDate"></input> <span
												class="add-on"> <i data-time-icon="icon-time"
												data-date-icon="icon-calendar"> </i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.arrivalDate">{{travelDetail.dapartureDate}}</span>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.departureStation}"
									data-ng-show="travelDetail.selectedTravelOption.name=='Bahn'">
									<label class="control-label" for="departureStation">
										Bahnhof</label>
									<div class="controls">
										<input type="text" id="departureStation"
											name="departureStation"
											data-ng-model="travelDetail.departureStation"> <span
											class="help-inline" data-ng-show="errors.station">{{errors.departureStation}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.departureAirport}"
									data-ng-show="travelDetail.selectedTravelOption.name=='Flugzeug'">
									<label class="control-label" for="departureAirport">
										Flughafen</label>
									<div class="controls">
										<input type="text" id="departureAirport"
											name="departureAirport"
											data-ng-model="travelDetail.departureAirport"> <span
											class="help-inline" data-ng-show="errors.departureAirport">{{errors.departureAirport}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-class="{error: errors.departureAirline}"
									data-ng-show="travelDetail.selectedTravelOption.name=='Flugzeug'">
									<label class="control-label" for="departureStation">Airline</label>
									<div class="controls">
										<input type="text" id="departureStation"
											name="departureAirline"
											data-ng-model="travelDetail.departureAirline"> <span
											class="help-inline" data-ng-show="errors.station">{{errors.departureAirline}}</span>
									</div>
								</div>

								<div class="control-group"
									data-ng-hide="travelDetail.selectedTravelOption.name=='PKW'"
									data-ng-class="{error: errors.departureTime}">
									<label class="control-label" for="departureTime">
										<span data-ng-show="travelDetail.selectedTravelOption.name=='Flugzeug'">Abflug</span>
										<span data-ng-show="travelDetail.selectedTravelOption.name=='Bahn'">Abfahrt</span>
									</label>
									<div class="controls">
										<div id="timepicker2" class="input-append date bsdtpicker"
											data-pickdate="false">
											<input data-format="hh:mm" type="text" id="departureTime"
												name="departureTime"
												data-ng-model="travelDetail.departureTime"></input> <span
												class="add-on"> <i data-time-icon="icon-time"
												data-date-icon="icon-calendar"> </i>
											</span>
										</div>
									</div>
									<span class="help-inline" data-ng-show="errors.arrivalDate">{{travelDetail.arrivalDate}}</span>
								</div>

								<div
									data-ng-show="travelDetail.selectedTravelOption.name=='Flugzeug' || travelDetail.selectedTravelOption.name=='Bahn'">
									<p>Bitte f&uuml;llen Sie die Felder aus, sofern die Inhalte
										bereits bekannt sind.</p>
									<p>Der Anmeldebest&auml;tigung liegt eine
										Anfahrtsbeschreibung (&Ouml;PNV/Taxi) vom Hauptbahnhof Leipzig
										bzw. Flughafen Leipzig/Halle bei.</p>
								</div>
							</div>
							<div class="span4 pull-right">
								<h3>Kontakt</h3>
								<p>F&uuml;r Fragen zur Veranstaltung steht Ihnen das
									Goodyear Organisation-Team gerne zur Verf&uuml;gung:</p>
								<p>
									E-Mail: xy<br> Telefon: xxxxx -xxxxxxxxx
								</p>
								<p>Bitte kontaktieren Sie nicht direkt das Hotel.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="span11">Spezielle Anforderungen</div>
				<div class="row">
					<div class="span7 offset1">
						<div class="control-group"
							data-ng-class="{error: errors.vegetarien}">
							<label class="control-label" for="vegetarien">Vegetarier*</label>
							<div class="controls">
								<select id="vegetarien" name="vegetarien"
									data-required="required" data-ng-model="participant.vegetarien"
									data-ng-init="participant.vegetarien = vegetarienOptions[0]"
									data-ng-options="vegetarien.value for vegetarien in vegetarienOptions">
								</select> <span class="help-inline" data-ng-show="errors.vegetarien">{{errors.vegatarien}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.vegan}">
							<label class="control-label" for="vegan">Veganer*</label>
							<div class="controls">
								<select id="vegan" name="vegan" data-required="required"
									data-ng-model="participant.vegan"
									data-ng-init="participant.vegan = veganOptions[0]"
									data-ng-options="vegan.value for vegan in veganOptions">
								</select> <span class="help-inline" data-ng-show="errors.vegan">{{errors.vegan}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.allergy}">
							<label class="control-label" for="vegetarien">Allergien</label>
							<div class="controls">
								<input type="text" id="allergy" name="allergy"
									data-ng-model="participant.allergy"> <span
									class="help-inline" data-ng-show="errors.allergy">{{errors.allergy}}</span>
							</div>
						</div>

						<div class="control-group" data-ng-class="{error: errors.wishes}">
							<label class="control-label" for="wishes">Sonderw&uuml;nsche</label>
							<div class="controls">
								<input type="text" id="wishes" name="wishes"
									data-ng-model="participant.wishes"> <span
									class="help-inline" data-ng-show="errors.wishes">{{errors.wishes}}</span>
							</div>
						</div>
						<div>
							<p>
								<span class="helper-text">Bitte beachten Sie, dass
									Sonderw&uuml;nsche nicht garantiert werden k&ouml;nnen. </span>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12">
					<div class="span11">
						<div class="form-actions">
							<a href="#personelData" class="btn btn-primary">Zur&uuml;ck</a>
							<button type="submit" class="btn btn-primary">Weiter</button>
						</div>
					</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>