
<h2>Servicethemen.</h2>
<p>Schritt 2 von 4</p>
Bitte teilen Sie uns mit, welche der folgenden Themen Sie im Rahmen der
Serviceleiter Konferenz besonders interessieren.
<br>
Bitte w&auml;hlen Sie mindestens ein Thema.
<div class="grey-body">
	<form name="form" class="form-horizontal marketplace">
		<fieldset>

			<div class="row-fluid">
				<div class="span6">
					<div class="control-group"
						data-ng-class="{error: errors.aufbauherstellermanagement}">
						<label class="control-label" for="title">{{user.survey.aufbauherstellermanagement}}</label>
						<div class="controls">
							<input type="checkbox" id="aufbauherstellermanagement"
								name="aufbauherstellermanagement"
								data-ng-model="participant.marketplaceOptions.aufbauherstellermanagement">
							<span class="help-inline"
								data-ng-show="errors.aufbauherstellermanagement">{{errors.aufbauherstellermanagement}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.classicparts}">
						<label class="control-label" for="classicparts"><g:message code="user.survey.classicparts"/></label>
						<div class="controls">
							<input type="checkbox" id="classicparts" name="classicparts"
								data-ng-model="participant.marketplaceOptions.classicparts">
							<span class="help-inline" data-ng-show="errors.classicparts">{{errors.classicparts}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.gewahrleistung}">
						<label class="control-label" for="gewahrleistung"><g:message code="user.survey.diesel"/></label>
						<div class="controls">
							<input type="checkbox" id="gewahrleistung" name="gewahrleistung"
								data-ng-model="participant.marketplaceOptions.gewahrleistung">
							<span class="help-inline" data-ng-show="errors.gewahrleistung">{{errors.gewahrleistung}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.grosskundenbetreuung}">
						<label class="control-label" for="title"><g:message code="user.survey.grosskundenbetreuung"/></label>
						<div class="controls">
							<input type="checkbox" id="grosskundenbetreuung"
								name="grosskundenbetreuung"
								data-ng-model="participant.marketplaceOptions.grosskundenbetreuung">
							<span class="help-inline"
								data-ng-show="errors.grosskundenbetreuung">{{errors.grosskundenbetreuung}}</span>
						</div>
					</div>
									
					<div class="control-group" data-ng-class="{error: errors.ihvpost}">
						<label class="control-label" for="title"><g:message code="user.survey.ihvpost"/></label>
						<div class="controls">
							<input type="checkbox" id="ihvpost" name="ihvpost"
								data-ng-model="participant.marketplaceOptions.ihvpost">
							<span class="help-inline" data-ng-show="errors.ihvpost">{{errors.ihvpost}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.kbaservice}">
						<label class="control-label" for="skpcommerce"><g:message code="user.survey.skpcommerce"/></label>
						<div class="controls">
							<input type="checkbox" id="skpcommerce" name="skpcommerce"
								data-ng-model="participant.marketplaceOptions.skpcommerce">
							<span class="help-inline" data-ng-show="errors.skpcommerce">{{errors.skpcommerce}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.onlinesz}">
						<label class="control-label" for="onlinesz"><g:message code="user.survey.onlinesz"/></label>
						<div class="controls">
							<input type="checkbox" id="onlinesz" name="serviceapp"
								data-ng-model="participant.marketplaceOptions.onlinesz">
							<span class="help-inline" data-ng-show="errors.onlinesz">{{errors.onlinesz}}</span>
						</div>
					</div>
				
				</div>
				<div class="span6">
				
					<div class="control-group" data-ng-class="{error: errors.originalteile}">
						<label class="control-label" for="originalteile"><g:message code="user.survey.originalteile"/></label>
						<div class="controls">
							<input type="checkbox" id="originalteile" name="originalteile"
								data-ng-model="participant.marketplaceOptions.originalteile">
							<span class="help-inline" data-ng-show="errors.originalteile">{{errors.originalteile}}</span>
						</div>
					</div>
				
					<div class="control-group"
						data-ng-class="{error: errors.partnerbetreuung}">
						<label class="control-label" for="partnerbetreuung"><g:message code="user.survey.partnerbetreuung"/></label>
						<div class="controls">
							<input type="checkbox" id="partnerbetreuung"
								name="partnerbetreuung"
								data-ng-model="participant.marketplaceOptions.partnerbetreuung">
							<span class="help-inline" data-ng-show="errors.partnerbetreuung">{{errors.partnerbetreuung}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.personalmarketing}">
						<label class="control-label" for="personalmarketing"><g:message code="user.survey.personalmarketing"/></label>
						<div class="controls">
							<input type="checkbox" id="personalmarketing" name="personalmarketing"
								data-ng-model="participant.marketplaceOptions.personalmarketing">
							<span class="help-inline" data-ng-show="errors.personalmarketing">{{errors.personalmarketing}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.technikLive}">
						<label class="control-label" for="technikLive"><g:message code="user.survey.quality"/></label>
						<div class="controls">
							<input type="checkbox" id="technikLive"
								name="technikLive"
								data-ng-model="participant.marketplaceOptions.technikLive">
							<span class="help-inline" data-ng-show="errors.technikLive">{{errors.technikLive}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.servicemarketing}">
						<label class="control-label" for="servicemarketing"><g:message code="user.survey.servicemarketing"/></label>
						<div class="controls">
							<input type="checkbox" id="servicemarketing"
								name="servicemarketing"
								data-ng-model="participant.marketplaceOptions.servicemarketing">
							<span class="help-inline" data-ng-show="errors.servicemarketing">{{errors.servicemarketing}}</span>
						</div>
					</div>


					<div class="control-group"
						data-ng-class="{error: errors.servicestandards}">
						<label class="control-label" for="servicestandards"><g:message code="user.survey.servicestandards"/></label>
						<div class="controls">
							<input type="checkbox" id="servicestandards"
								name="servicestandards"
								data-ng-model="participant.marketplaceOptions.servicestandards">
							<span class="help-inline" data-ng-show="errors.servicestandards">{{errors.servicestandards}}</span>
						</div>
					</div>
					
					<div class="control-group"
						data-ng-class="{error: errors.serviceProzesse}">
						<label class="control-label" for="serviceProzesse"><g:message code="user.survey.serviceprozesse"/></label>
						<div class="controls">
							<input type="checkbox" id="serviceProzesse" name="serviceProzesse"
								data-ng-model="participant.marketplaceOptions.serviceProzesse">
							<span class="help-inline" data-ng-show="errors.serviceProzesse">{{errors.serviceProzesse}}</span>
						</div>
					</div>

					<div class="control-group"
						data-ng-class="{error: errors.servicequalifizierungen}">
						<label class="control-label" for="servicequalifizierungen"><g:message code="user.survey.servicequalifizierungen"/></label>
						<div class="controls">
							<input type="checkbox" id="servicequalifizierungen"
								name="servicequalifizierungen"
								data-ng-model="participant.marketplaceOptions.servicequalifizierungen">
							<span class="help-inline"
								data-ng-show="errors.servicequalifizierungen">{{errors.servicequalifizierungen}}</span>
						</div>
					</div>

					<div class="control-group" data-ng-class="{error: errors.leasing}">
						<label class="control-label" for="title"><g:message code="user.survey.leasing"/></label>
						<div class="controls">
							<input type="checkbox" id="leasing" name="leasing"
								data-ng-model="participant.marketplaceOptions.leasing">
							<span class="help-inline" data-ng-show="errors.leasing">{{errors.leasing}}</span>
						</div>
					</div>
					
					<div class="control-group"
						data-ng-class="{error: errors.merchandising}">
						<label class="control-label" for="title"><g:message code="user.survey.merchandising"/></label>
						<div class="controls">
							<input type="checkbox" id="merchandising" name="merchandising"
								data-ng-model="participant.marketplaceOptions.merchandising">
							<span class="help-inline" data-ng-show="errors.merchandising">{{errors.merchandising}}</span>
						</div>
					</div>
				</div>
			</div>

		</fieldset>



		<div class="form-actions">
			<button data-ng-click="doTheBack()" class="btn btn-primary">
				<i class="icon-play flip-horizontal"></i>Zur&uuml;ck
			</button>
			<button data-ng-click="updateOptions(participant)"
				class="btn btn-primary pull-right">
				Weiter<i class="icon-play"></i>
			</button>
		</div>

	</form>
</div>