
		<div class="row-fluid">
			<h1>{{event_i18n.title}}</h1>
			<h2>{{event_i18n.subtitle}}</h2>
		</div>
		<div class="row-fluid">
			<div class="offset1 span10">
				Bitte &uuml;berpr&uuml;fen Sie Ihre Daten.
			</div>
		</div>
		<form name="form" data-ng-submit="updateParticipant(participant)" class="form-horizontal">
		<div class="row-fluid">
			<div class="span6">

					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="salutation">Anrede*</label>
						<div class="controls">
							<select type="text" id="salutation" name="salutation" required ng-model="item.salutation" ng-options="salutation.name for salutation in item.salutations">
      						</select>
							<span class="help-inline" data-ng-show="errors.salutation">{{errors.salutation}}</span>
						</div>
					</div>
						
					
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="title">Titel (akademisch)</label>
						<div class="controls">
							<input type="text" id="title" name="title" data-ng-model="participant.title">
							<span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="firstname">Vorname*</label>
						<div class="controls">
							<input type="text" id="firstname" name="firstname" required data-ng-model="participant.firstname">
							<span class="help-inline" data-ng-show="errors.firstname">{{errors.description}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="firstname">Zweitname</label>
						<div class="controls">
							<input type="text" id="middlename" name="middlename" data-ng-model="participant.middlename">
							<span class="help-inline" data-ng-show="errors.middlename">{{errors.description}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.lastname}">
						<label class="control-label" for="lastname">Name*</label>
						<div class="controls">
							<input type="text" id="lastname" name="lastname" required data-ng-model="participant.lastname">
							<span class="help-inline" data-ng-show="errors.lastname">{{errors.lastname}}</span>
						</div>
					</div>
					<div>
						Privatadresse:
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.street}">
						<label class="control-label" for="street">Strasse, Hausnummer*</label>
						<div class="controls">
							<input type="text" id="street" name="street" required data-ng-model="participant.street">
							<span class="help-inline" data-ng-show="errors.street">{{errors.street}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.plz}">
						<label class="control-label" for="plz">PLZ*</label>
						<div class="controls">
							<input type="text" id="plz" name="plz" required data-ng-model="participant.plz">
							<span class="help-inline" data-ng-show="errors.plz">{{errors.plz}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.city}">
						<label class="control-label" for="city">Ort*</label>
						<div class="controls">
							<input type="text" id="city" name="city" required data-ng-model="participant.city">
							<span class="help-inline" data-ng-show="errors.city">{{errors.city}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.mobile}">
						<label class="control-label" for="mobile">Mobilnummer*</label>
						<div class="controls">
							<input type="text" id="mobile" name="mobile" required data-ng-model="participant.mobile">
							<span class="help-inline" data-ng-show="errors.mobile">{{errors.mobile}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.company}">
						<label class="control-label" for="company">Firma*</label>
						<div class="controls">
							<input type="text" id="company" name="company" data-ng-model="participant.company">
							<span class="help-inline" data-ng-show="errors.company">{{errors.company}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.position}">
						<label class="control-label" for="position">Position*</label>
						<div class="controls">
							<input type="text" id="position" name="position" required data-ng-model="participant.position">
							<span class="help-inline" data-ng-show="errors.position">{{errors.position}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.companystreet}">
						<label class="control-label" for="companystreet">Strasse, Hausnummer*</label>
						<div class="controls">
							<input type="text" id="companystreet" name="companystreet" data-ng-model="participant.companystreet">
							<span class="help-inline" data-ng-show="errors.companystreet">{{errors.companystreet}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.companyplz}">
						<label class="control-label" for="companyplz">PLZ*</label>
						<div class="controls">
							<input type="text" id="companyplz" name="companyplz" required data-ng-model="participant.companyplz">
							<span class="help-inline" data-ng-show="errors.companyplz">{{errors.companyplz}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.companycity}">
						<label class="control-label" for="companycity">Ort*</label>
						<div class="controls">
							<input type="text" id="companycity" name="companycity" data-ng-model="participant.companycity">
							<span class="help-inline" data-ng-show="errors.city">{{errors.companycity}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.email}">
						<label class="control-label" for="email()">Email</label>
						<div class="controls">
							<input type="text" id="email" data-ng-change="emailChanged()" name="email" required data-ng-model="participant.email">
							<span class="help-inline" data-ng-show="errors.email">{{errors.email}}</span>
						</div>
					</div>
					
					<div class="control-group" ng-show="isEmailChanged" data-ng-class="{error: errors.email}">
						<label class="control-label" for="emailrepeat">Email Wiederholung</label>
						<div class="controls">
							<input type="text" id="emailrepeat" name="emailrepeat" data-ng-model="participant.emailrepeat">
							<span class="help-inline" data-ng-show="errors.emailrepeat">{{errors.emailrepeat}}</span>
						</div>
					</div>
					
					
			</div>
			<div class="offset1 span5">
				
			</div>
        </div>
        <div class="row-fluid">
        <div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">Weiter</button>
		</div>
        </div>
        </form>
