<h2>Registrierung.</h2>
<p>Schritt 1 von 4</p>
			<p>
			Bitte f&uuml;llen Sie alle mit * gekennzeichneten Felder aus.
			</p>

		
		<div class="grey-body">
		<form name="form" data-ng-submit="updateParticipant(participant)" class="form-horizontal">
			<fieldset>
				<legend>
					Angaben zur Person
				</legend>
			<div class="row-fluid">
			<div class="span6">
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="salutation">Anrede*</label>
						<div class="controls">
							<select class="input-block-level" type="text" id="salutation" name="salutation" ng-required="true" 
							ng-model="participant.salutation.name" ng-options="salutation.name as salutation.value for salutation in salutations">
      						</select>
							<span class="help-inline" data-ng-show="errors.salutation">{{errors.salutation}}</span>
						</div>
					</div>
						
					
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="title">Titel (akademisch)</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="title" name="title" data-ng-model="participant.title">
							<span class="help-inline" data-ng-show="errors.title">{{errors.title}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="firstname">Vorname*</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="firstname" name="firstname" ng-required="true" data-ng-model="participant.firstname">
							<span class="help-inline" data-ng-show="errors.firstname">{{errors.description}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.lastname}">
						<label class="control-label" for="lastname">Nachname*</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="lastname" name="lastname" ng-required="true" data-ng-model="participant.lastname">
							<span class="help-inline" data-ng-show="errors.lastname">{{errors.lastname}}</span>
						</div>
					</div>
					</div>
					</div>
					</fieldset>
					<fieldset>
					<legend>
						Angaben zur Firma
					</legend>
					<div class="row-fluid">
							<div class="span6">
								<div class="control-group" data-ng-class="{error: errors.companystreet}">
									<label class="control-label" for="companystreet">Strasse, Hausnummer*</label>
									<div class="controls">
										<input class="input-block-level" type="text" id="companystreet" name="companystreet" ng-required="true" data-ng-model="participant.companystreet">
										<span class="help-inline" data-ng-show="errors.companystreet">{{errors.companystreet}}</span>
									</div>
								</div>
								
								<div class="control-group" data-ng-class="{error: errors.companyplz}">
									<label class="control-label" for="companyplz">PLZ*</label>
									<div class="controls">
										<input class="input-block-level" type="text" id="companyplz" name="companyplz" ng-required="true" data-ng-model="participant.companyplz">
										<span class="help-inline" data-ng-show="errors.companyplz">{{errors.companyplz}}</span>
									</div>
								</div>
								
								<div class="control-group" data-ng-class="{error: errors.companycity}">
									<label class="control-label" for="companycity">Ort*</label>
									<div class="controls">
										<input class="input-block-level" type="text" id="companycity" name="companycity" ng-required="true" data-ng-model="participant.companycity">
										<span class="help-inline" data-ng-show="errors.city">{{errors.companycity}}</span>
									</div>
								</div>
								
								<div class="control-group" data-ng-class="{error: errors.company}">
									<label class="control-label" for="company">Betrieb</label>
									<div class="controls">
										<input class="input-block-level" type="text" id="company" name="company" data-ng-model="participant.company">
										<span class="help-inline" data-ng-show="errors.company">{{errors.company}}</span>
									</div>
								</div>
								
								<div class="control-group" data-ng-class="{error: errors.companynr}">
									<label class="control-label" for="companynr">Betriebsnummer*</label>
									<div class="controls">
										<input class="input-block-level" type="text" id="companynr" name="companynr" ng-required="true" data-ng-model="participant.companynr">
										<span class="help-inline" data-ng-show="errors.companynr">{{errors.companynr}}</span>
									</div>
								</div>
							</div>
						<div class="span6">
						<div class="control-group" data-ng-class="{error: errors.position}">
							<label class="control-label" for="position">Position*</label>
							<div class="controls">
								<select class="form-control input-block-level" data-ng-model="participant.position" data-ng-change="participant.positionAddon = ''">
								  <option>Serviceleiter</option>
								  <option>Gesch&auml;ftsf&uuml;hrer</option>
								  <option>Gesamtserviceleiter</option>
								  <option>Sonstiges</option>
								</select>
								<span class="help-inline" data-ng-show="errors.position">{{errors.position}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.positionAddon}" data-ng-show="participant.position=='Gesamtserviceleiter'">
							<label class="control-label" for="positionAddon">Ich komme f&uuml;r</label>
							<div class="controls">
								<select class="form-control input-block-level" data-ng-model="participant.positionAddon">
								  <option selected value="single">1 Betrieb</option>
								  <option value="multi">mehrere Betriebe</option>
								</select>
								<span class="help-inline" data-ng-show="errors.positionAddon">{{errors.positionAddon}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.position}" data-ng-show="participant.position=='Sonstiges'">
							<label class="control-label" for="positionAddon">Position</label>
							<div class="controls">
								<input type="text" id="positionAddon" name="positionAddon" data-ng-model="participant.positionAddon">
								<span class="help-inline" data-ng-show="errors.positionAddon">{{errors.positionAddon}}</span>
							</div>
						</div>
						<div class="control-group" data-ng-class="{error: errors.companyadd}" data-ng-show="participant.positionAddon=='multi'">
							<label class="control-label input-block-level" for="companyadd">zus&auml;tzliche Betriebsnummer</label>
							<div class="controls">
								<input type="text" id="companyadd" name="companyadd" data-ng-model="participant.companyadd">
								<input type="text" id="companyadd1" name="companyadd1" data-ng-model="participant.companyadd1">
								<input type="text" id="companyadd2" name="companyadd2" data-ng-model="participant.companyadd2">
								<input type="text" id="companyadd3" name="companyadd3" data-ng-model="participant.companyadd3">
								<span class="help-inline" data-ng-show="errors.companyadd">{{errors.company}}</span>
							</div>
						</div>
						</div>
					</div>
					</fieldset>
					<fieldset>
					<legend>
						Kontakt
					</legend>
					<div class="row-fluid">					
					<div class="span6">
					<div class="control-group" data-ng-class="{error: errors.phone}">
						<label class="control-label" for="email()">Telefon*</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="phone" name="phone" ng-required="true" data-ng-model="participant.phone">
							<span class="help-inline" data-ng-show="errors.phone">{{errors.phone}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.fax}">
						<label class="control-label" for="fax">Fax</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="fax" name="fax" data-ng-model="participant.fax">
							<span class="help-inline" data-ng-show="errors.fax">{{errors.fax}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.email}">
						<label class="control-label" for="email()">E-Mail*</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="email" data-ng-change="emailChanged()" name="email" data-ng-required="true" data-ng-model="participant.email">
							<span class="help-inline" data-ng-show="errors.email">{{errors.email}}</span>
						</div>
					</div>
					
					<div class="control-group" ng-show="isEmailChanged" data-ng-class="{error: errors.email}">
						<label class="control-label" for="emailrepeat">E-Mail Wiederholung*</label>
						<div class="controls">
							<input class="input-block-level" type="text" id="emailrepeat" name="emailrepeat" data-ng-model="participant.emailrepeat">
							<span class="help-inline" data-ng-show="errors.emailrepeat">{{errors.emailrepeat}}</span>
						</div>
					</div>
					</div>
					</div>
</fieldset>
        
        

        <div class="form-actions">
        				<button data-ng-click="doTheBack()" class="btn btn-primary"><i class="icon-play flip-horizontal"></i>Zur&uuml;ck</button>
						<button type="submit" class="btn btn-primary pull-right">Weiter <i class="icon-play"></i></button>
		</div>

        </form>
		</div>