				<h2>Willkommen in Ihrem pers&ouml;nlichen Anmeldeportal.</h2>
				<div class="row-fluid"><span class="span12"></span></div>
				<p><span ng-show="participant.salutation.name == 'MR'">Sehr geehrter Herr</span> 
				<span ng-show="participant.salutation.name == 'MS' || participant.salutation == 'MRS'">Sehr geehrte Frau</span>
				{{participant.firstname}} {{participant.lastname}},</p>

		
				<p>herzlich willkommen zur Online-Registrierung f&uuml;r die Serviceleiter Konferenz 2015 von Volkswagen Nutzfahrzeuge.</p>

				<p>Wir laden Sie ein, am <b>{{meeting.start | date:'dd.MM.yyyy'}}</b> in <b>{{meeting_i18n.subtitle}}</b> teilzunehmen, die an folgendem Veranstaltungsort stattfindet:</p>
				 
				 <strong>
				 <p ng-bind-html-unsafe="meeting_i18n.description">
				 </p></strong>
				 
				 <p>
				 Wenn Sie an der Veranstaltung teilnehmen m&ouml;chten, klicken Sie bitte unten links auf die Schaltfl&auml;che &quot;Zur&nbsp;Anmeldung&quot;.
				 </p>
				 
				 <p ng-hide="participant.representative">
				 Wenn Sie pers&ouml;nlich verhindert sind, jedoch eine Vertretung schicken m&ouml;chten, klicken Sie bitte auf die Schaltfl&auml;che &quot;Vertretung&nbsp;schicken&quot;.
				 </p>
				 
				 <p>
				 Sollten Sie an der Veranstaltung nicht teilnehmen k&ouml;nnen, klicken Sie bitte auf &quot;Absage&quot;.
				 </p>
				 <div class="row-fluid"><span class="span12"></span></div>
			<form name="form" class="form-horizontal">
				<span class="span3">
					<button class="btn btn-primary btn-block" ng-click="updateAccount(participant, 'CONFIRMED')">Zur Anmeldung <i class="icon-play"></i></button>
				</span>
				<span class="span3 offset1" ng-hide="participant.representative">
					<button class="btn btn-primary btn-block" ng-click="updateAccount(participant, 'REPRESENTATIV') ">Vertretung schicken<i class="icon-play"></i></button>
				</span>
				<span class="span3 offset1">
					<button class="btn btn-primary btn-block" ng-click="updateAccount(participant, 'REFUSED') ">Absage<i class="icon-play"></i></button>
				</span>
			</form>
