
		<div class="row-fluid">
			<h1>{{event_i18n.title}}</h1>
		</div>
		<div>
				<span ng-show="participant.salutation.name == 'MR'">Sehr geehrter Herr</span> 
				<span ng-show="participant.salutation.name == 'MS' || participant.salutation == 'MRS'">Sehr geehrter Frau</span>
				{{participant.firstname}} {{participant.lastname}}
		</div>
		
		<div class="row-fluid">
			<div class="span10">
				<p>wussten sie schon, dass Goodyear OE-Freigaben auf allen wichtigen Porsche Modellen besitzt? Zu diesem Anlass findet in diesem Sommer die 
				<b>"Goodyear@Porsche Driving Experience 2013"</b> statt.</p>

				<p>Wir freuen uns sehr, sie vom {{meeting.start}} - {{meeting.end}} (2 &Uuml;bernachtungen) recht herzlich zu dieser Veranstalltung nach
				Leipzig einladen zu d&uuml;rfen.</p>
			</div>
		</div>
		<div class="row-fluid">
			<form name="form" data-ng-submit="updateAccount(participant)" class="form-horizontal">
				<div class="control-group" data-ng-class="{error: errors.account}">
						<label class="radio" for="account"><input type="radio" value="true" required name="account" data-ng-model="participant.account"> Ich nehme sehr gerne an der Veranstaltung teil.</label>
					</div>
				<div class="control-group" data-ng-class="{error: errors.account}">
						<label class="radio" for="account"><input type="radio" value="false" required name="account" data-ng-model="participant.account"> Leider kann ich an der Veranstaltung nicht teilnehmen</label>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">Weiter</button>
					</div>
			</form>
		</div>