
				<div class="page-header">
					<h1>User</h1>
				</div>
			
				<alert level="{{message.level}}" text="{{message.text}}"/>
				<form name="form" data-ng-submit="save(item)" class="form-horizontal" ng-controller="UserCtrl">
				
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="firstname">Salutation</label>
						<div class="controls">
							<select type="text" id="salutation" name="salutation" ng-model="item.salutation" ng-options="salutation.name for salutation in item.salutations">
      						</select>
							<span class="help-inline" data-ng-show="errors.salutation">{{errors.salutation}}</span>
						</div>
					</div>
						
					<div class="control-group" data-ng-class="{error: errors.firstname}">
						<label class="control-label" for="firstname">Firstname</label>
						<div class="controls">
							<input type="text" id="firstname" name="firstname" required data-ng-model="item.firstname">
							<span class="help-inline" data-ng-show="errors.firstname">{{errors.firstname}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.lastname}">
						<label class="control-label" for="lastname">Lastname</label>
						<div class="controls">
							<input type="text" id="lastname" name="lastname" required data-ng-model="item.lastname">
							<span class="help-inline" data-ng-show="errors.lastname">{{errors.lastname}}</span>
						</div>
					</div>
					
					
					
					
					<div class="control-group" data-ng-class="{error: errors.email}">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="text" id="email" name="email" required data-ng-model="item.email">
							<span class="help-inline" data-ng-show="errors.email">{{errors.email}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.language}">
						<label class="control-label" for="language">Language</label>
						<div class="controls">
							<select type="text" id="language" name="language" ng-model="item.language" ng-options="availableLanguage.languageName for availableLanguage in item.event.eventLanguage">
      						</select>
							<span class="help-inline" data-ng-show="errors.language">{{errors.language}}</span>
						</div>
					</div>
					
						
					
						
					<div class="control-group" data-ng-class="{error: errors.event}">
						<label class="control-label" for="event">Event</label>
						<div class="controls">
						       {{item.event.i18n[0].title}}
							<span class="help-inline" data-ng-show="errors.event">{{errors.event}}</span>
						</div>
					</div>
					
					<div class="control-group" data-ng-class="{error: errors.meeting}" ng-show="item.meeting">
						<label class="control-label" for="meeting">Meeting</label>
						<div class="controls">
						       {{item.meeting.i18n[0].title}}
							<span class="help-inline" data-ng-show="errors.meeting">{{errors.meeting}}</span>
						</div>
					</div>
						
					<div class="control-group" data-ng-class="{error: errors.username}">
						<label class="control-label" for="username">Username</label>
						<div class="controls">
							<input type="text" id="username" name="username" required data-ng-model="item.username">
							<span class="help-inline" data-ng-show="errors.username">{{errors.username}}</span>
						</div>
					</div>
					
						
					<div class="control-group" data-ng-class="{error: errors.password}">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input type="text" id="password" name="password" required data-ng-model="item.password">
							<span class="help-inline" data-ng-show="errors.password">{{errors.password}}</span>
						</div>
					</div>
					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
					</div>
				</form>
