
				<div class="page-header">
					<h1>Meeting</h1>
				</div>
			
				<alert level="{{message.level}}" text="{{message.text}}"/>
				<form name="form" data-ng-submit="save(item)" class="form-horizontal" ng-controller="MeetingCtrl">
				
					<div data-i18ntabs="i18ntabs" i18n="item.i18n"></div>	
					
						
					<div class="control-group" data-ng-class="{error: errors.start}">
						<label class="control-label" for="start">Start</label>
						<div class="controls">
							<input type="text" id="start" name="start" required data-ng-model="item.start">
							<span class="help-inline" data-ng-show="errors.start">{{errors.start}}</span>
						</div>
					</div>
					
					
					<div class="control-group" data-ng-class="{error: errors.end}">
						<label class="control-label" for="end">End</label>
						<div class="controls">
							<input type="text" id="end" name="end" required data-ng-model="item.end">
							<span class="help-inline" data-ng-show="errors.end">{{errors.end}}</span>
						</div>
					</div>
					
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create</button>
					</div>
				</form>
